/* Your styles here */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,800;1,800&family=Open+Sans:ital,wght@0,400;1,300&display=swap');
/* general */
.container{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65em;
    font-size: 1.2rem;
    color:#393d41  ;
    text-align: center;
}
h1,h2,h3,#button1 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5em;
    color: #25a2c3 ;
    margin: 0 23%;
}
p, a {
    margin: 3% 7%;
}
/* header */
#testata{
    background-color: black;
}
.grey{
    background-image:url(../images/banner.jpg);
    background-size: 115%;
    background-position: 90% 50%;
    padding-bottom: 2em;  
}
    #button1{
        border-radius: 7px;
        width: 160px;
        color: white;
        height: 41px;
        background-color: #f04c2f;
}
h1+p{
    padding-bottom: 0.7em;
}
h1{
    font-size: 1.6em;
    line-height: 1em;
    padding-top: 1.3em;
    margin-bottom: 0.7em;
}
#logo {
    width: 120px;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 26px 0;
}

/* main */
#carter{
    padding-top: 3em;

}
#kat{
    border-radius: 1000px;
    width: 60%;
    margin-top: 1em;
    margin-bottom: 1.7em;
}
.red{ 
    background-color:#e22d0e ;
    color: white;
}
#red0{
    color: white;
    font-size: 1.5em;
    margin: 0px;
    padding-top: 1.8em;
    padding-bottom: 0.3em;
}
#red1{
    font-size: 0.8em;
    line-height: 1.6em;
    /* font-family: cursive; */
    font-style: italic;
}
#red2{
    font-size: 0.9em;
    margin-bottom: -0.6em;
}
#red3{
    padding-bottom: 1.3em;
    margin-top: 0px;
    font-size: 0.6em;
}
.box{
    width: 90%;
    margin-top: 2.4em;
    margin-left: auto;
    margin-right: auto;
    border-color: #dee1e3;
    border-width: 1px;
    border-style: solid;
}
.box2 {
    margin-top:2em ;
}
 .jun {
    width: 100%;
 } 
 /* footer */
 .blue,a{
    background-color: #25a2c3;
    color: #c8e7f0;
    }
    .blue{
        margin-top: 3.5em;
    }
 #foot{
    color: white;
    padding-top: 1.5em;
    padding-bottom: 0.4em;
    font-size: 1.5em;
}
ul {    font-size: 0.7em;
    line-height: 1.7em;
}
hr{
    width: 40%;
    border-top: 1px;
    border-color: #c8e7f0;
    margin-top: 1.5em;
}
hr p {
    padding-bottom: 1em;
    font-size: 0.6em;
}
 li a {
    margin-left: 5px;
}
.fa-external-link-square-alt, .fa-copyright{
    margin-right: 2px;
}
#jorge{
    font-size: 0.6em;
    padding-left: 15px;
}
#emile{
    margin: 4px;
}